<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine - Category's Topics</title>
	<meta charset="UTF-8">

	<% include ../partials/head.ejs %>

	<link rel="stylesheet" href="/css/social/main.css">

	<script src="/js/social/main.js"></script>
	<script src="/js/social/category.js"></script>
</head>

<body>

<% include ../partials/functions.ejs %>

<% include ../partials/navigation.ejs %>

<section>
	<% var category = pageData.category %>
	<input type="hidden" id="categoryId" data-category-id="<%= category.id %>">
	<div class="row">
		<div id="recent-gratitudes" class="col-xs-3" style="margin-top: 10px;">
			<% include ../partials/gratitudes.ejs %>
		</div>
		<div class="col-xs-9">
			<ol class="breadcrumb">
				<li><a href="/social">Categories</a></li>
				<li class="active">Topics</li>
			</ol>
			<div class="row">
				<div class="col-xs-1">
					<i class="fa fa-comments fa-2x text-primary"></i>
				</div>
				<div class="col-xs-8">
					<div><strong>Topics</strong></div>
				</div>
				<div class="col-xs-2">
					<div class="text-center"><strong>Comments</strong></div>
				</div>
			</div>
			<% var topics = pageData.topics; %>
			<% for(var i=0; i < topics.length; i++) { %>
			<% var topic = topics[i]; %>
			<hr>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-8">
					<h4>
						<a href="/social/topic/<%= topic.id %>">
							<div class="topic-subject-small"><%= topic.subject %></div>
						</a>
						<br>
						<div class="topic-subject-small"><small><%= topic.text %></small></div>
					</h4>
				</div>
				<div class="col-xs-2 container">
					<div class="text-center"><span class="badge"><%= topic.commentsCount %></span></div>
				</div>
			</div>
			<% } %>
			<% if (topics.length == 0) { %>
			<hr>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-8">
					<h4>
						<div class="topic-subject-small">No topics in this category yet! <button class="btn btn-link create-topic-btn" data-toggle="modal" data-target="#newtopic-modal">Create new one!</button></div>
						<br>
					</h4>
				</div>
				<div class="col-xs-2 container"></div>
			</div>
			<% } %>
			<hr>
			<div id="comments-controls" class="row">
				<div class="col-xs-4 col-lg-offset-7">
					<div class="row">
						<div class="col-xs-6 col-lg-offset-6">
							<button class="btn btn-link create-topic-btn" data-toggle="modal" data-target="#newtopic-modal">Create new Topic</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="newtopic-modal" class="modal fade">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well well-sm">
					<form class="form-horizontal" method="post">
						<fieldset>
							<legend class="text-center header">Create new topic</legend>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user fa-2x"></i></span>
								<div class="col-md-8">
									<input id="newtopic-name" name="name" type="text" placeholder="Nickname" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o fa-2x"></i></span>
								<div class="col-md-8">
									<input id="newtopic-email" name="email" type="text" placeholder="Email Address" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-text-width fa-2x"></i></span>
								<div class="col-md-8">
									<input id="newtopic-subject" name="phone" type="text" placeholder="Subject. Write a few words about you feedback" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o fa-2x"></i></span>
								<div class="col-md-8">
									<textarea id="newtopic-text" class="form-control" name="message" placeholder="Enter your massage for us here. In case all categories exept Other, this feedback will appear on forum." rows="7"></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12 text-center">
									<button id="create-newtopic-btn" type="button" class="btn btn-primary btn-lg">Submit</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>