<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include ../partials/head.ejs %>

	<link rel="stylesheet" href="/css/social/index.css">

	<script src="/js/social/main.js"></script>
	<script src="/js/social/index.js"></script>
</head>

<body>

<% include ../partials/navigation.ejs %>

<section id="app">
	<div id="page-content">
		<div class="row">
			<% var categories; %>
			<% for(var i=0; i < categories.length; i++) { %>
				<div class="col-xs-<%=Math.round(12/categories.length)%>">
					<a href="/social/category/<%= categories[i].id %>" style="text-align: center;">
						<h4 class="category-header" data-categoryid="<%= categories[i].id %>"><%= categories[i].name %></h4>
					</a>
				</div>
			<% } %>
		</div>
		<div class="row">
			<% for(var i=0; i < categories.length; i++) { %>
				<div id="topic_list" data-categoryid="<%= categories[i].id %>" class="list-group col-xs-4">

				</div>
			<% } %>
		</div>
	</div>
</section>
</body>
</html>