<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include ../partials/head.ejs %>

	<link rel="stylesheet" href="/css/social/main.css">

	<script src="/js/social/main.js"></script>
</head>

<body>

<% include ../partials/functions.ejs %>

<% include ../partials/navigation.ejs %>

<section>
	<div class="row">
		<div id="recent-gratitudes" class="col-xs-3" style="margin-top: 10px;">
			<% include ../partials/gratitudes.ejs %>
		</div>
		<div class="col-xs-9">
			<table class="table forum">
				<% var topic = pageData.topic; %>
				<thead>
				<tr>
					<th class="cell-stat"><i class="fa fa-comments fa-2x text-primary"></i></th>
					<th class="cell-stat hidden-xs hidden-sm"><%= topic.subject %></th>
					<th><span style="float: right;">by <%= topic.email %> @ <%= timeSince(topic.createddate) %></span></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="hidden-xs hidden-sm"></td>
					<td class="hidden-xs hidden-sm">
						<%= topic.text %>
					</td>
					<td></td>
				</tr>
				</tbody>
			</table>
			<hr>
			<% var comments = pageData.comments; %>
			<div id="comments">
				<h4>Comments: <%= comments.length %></h4>
				<div id="comments-controls" class="row">
					<div class="col-xs-4 col-lg-offset-8">
						<button class="btn btn-link">Refresh</button>
						<button class="btn btn-link">Hide comments</button>
					</div>
				</div>
				<div class="comment-list">
					<% for(var i=0; i < comments.length; i++) { %>
					<% var comment = comments[i]; %>
					<div id="1" class="comment">
						<div class="row comment-header">
							<div class="col-xs-3">
								<label><%= comment.name %></label>
							</div>
							<div class="col-xs-2">
								<%= timeSince(comment.createddate); %>
							</div>
							<div class="col-xs-1">
								<a href="#">#</a>
							</div>
						</div>
						<div class="comment-body">
							<%= comment.comment %>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>