<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include ../partials/head.ejs %>

	<link rel="stylesheet" href="/css/social/main.css">

	<script src="/js/social/main.js"></script>
	<script src="/js/social/topic.js"></script>
</head>

<body>

<% include ../partials/functions.ejs %>

<% include ../partials/navigation.ejs %>

<section>
	<div class="row">
		<div id="recent-gratitudes" class="col-xs-3" style="margin-top: 10px;">
			<% include ../partials/gratitudes.ejs %>
		</div>
		<div class="col-xs-9">
			<% var topic = pageData.topic; %>
			<table id="topicTable" class="table forum" data-topicid="<%= topic.id %>">
				<thead>
				<tr>
					<th class="cell-stat text-center"><i class="fa fa-comments fa-2x text-primary"></i></th>
					<th colspan="2" class="cell-stat hidden-xs hidden-sm"><%= topic.subject %></th>
					<th class="cell-stat hidden-xs hidden-sm"><span><small>by <%= topic.email %> @ <%= timeSince(topic.createddate) %></small></span></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="hidden-xs hidden-sm"></td>
					<td colspan="3" class="hidden-xs hidden-sm">
						<%= topic.text %>
					</td>
				</tr>
				</tbody>
			</table>
			<hr>
			<% var comments = pageData.comments; %>
			<div id="comments">
				<h4>Comments: <%= comments.length %></h4>
				<div id="comments-controls" class="row">
					<div class="col-xs-4 col-lg-offset-8">
						<button class="btn btn-link" data-toggle="modal" data-target="#add-comment-modal">Add comment</button>
						<button id="hide-comments-btn" class="btn btn-link" data-default-text="Hide comments" data-new-text="Show comments">Hide comments</button>
					</div>
				</div>
				<div id="comment-list">
					<% for(var i=0; i < comments.length; i++) { %>
					<% var comment = comments[i]; %>
					<div id="1" class="comment">
						<div class="row comment-header">
							<div class="col-xs-3">
								<label class="color-white"><%= comment.name %></label>
							</div>
							<div class="col-xs-2">
								<span class="color-white"><%= timeSince(comment.createddate); %></span>
							</div>
							<div class="col-xs-1">
								<a href="#" class="color-white">#</a>
							</div>
						</div>
						<div class="comment-body">
							<%= comment.comment %>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="add-comment-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add new comment</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<label>Name</label>
					<input id="comment-name" class="form-control" placeholder="Enter your name...">
				</div>
				<div class="row">
					<label>Text</label>
					<textarea id="comment-text" class="form-control" placeholder="Enter your text here..."></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="add-comment-btn" type="button" class="btn btn-primary">Add comment</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>